<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div th:fragment="patient" class="content-wrapper">
    <!--  Modal add/edit patient  -->
    <div class="modal fade" id="modalPatient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Pacient nou</h3>
                </div>
                <div class="modal-body">
                    <form id="formAddPatient">
                        <input type="hidden" id="idPatientInput">
                        <input type="hidden" id="statusInput">
                        <div class="form-group">
                            <label for="firstnameInput">Prenume</label>
                            <input type="text" class="form-control" id="firstnameInput" name="firstnameInput" placeholder="Prenume">
                        </div>
                        <div class="form-group">
                            <label for="lastnameInput">Nume</label>
                            <input type="text" class="form-control" id="lastnameInput" name="lastnameInput" placeholder="Nume">
                        </div>
                        <div class="form-group">
                            <label for="phoneInput">Phone</label>
                            <input type="text" class="form-control" id="phoneInput" name="phoneInput" placeholder="Telefon">
                        </div>
                        <div class="form-group">
                            <label for="birthDatePicker">Data nasterii</label>
                            <div class="input-group date" id="birthDatePicker" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="birthDatePickerName" data-target="#birthDatePicker"/>
                                <div class="input-group-append" data-target="#birthDatePicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detailsInput">Detalii pacient</label>
                            <textarea class="form-control" rows="1" placeholder="Enter..." id="detailsInput"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Salveaza</button>
                        <button type="button" class="btn btn-danger btn-sm closeModalPatient">Renunta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal add/edit patient-->

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pacienti</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard.html">Home</a></li>
                        <li class="breadcrumb-item active">Pacienti</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col" style="width: 100%; margin-bottom: 1em;">
                    <button class="btn btn-primary btn-sm" id="addPatient" data-toggle="modal" data-target="#modalPatient"><i class="fas fa-plus fa-xs"></i> Adauga</button><br>
                </div>
                <div class="col text-right">
                    <label for="pageSizeSelect">Se afiseaza</label>
                    <select name="pageSizeSelect" id="pageSizeSelect">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col" style="width: 100%">
                    <div class="panel panel-default" id="patientsPanel" style="width: 100%;">
                        <div class="row" id="patientCardsRow">
                        </div>
                        <div class="row">
                            <div class="col-md-3" id="pagingButtonsCol">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{~/script/javascript/patient.js}"></script>
</div>
</body>
</html>